---
import "../styles/global.css";
---

<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width" />
        <link rel="icon" type="image/svg+xml" href="/favicon.ico" />
        <meta name="generator" content={Astro.generator} />
        <meta
            name="description"
            content="Bill Utaegbulam is a creative web designer and developer based in Irvine, California. To learn more, let's get you moving toward a page that actually exists."
        />
        <title>madewithbill. - 404</title>
    </head>
    <body
        class="max-w-xl h-dvh flex items-center mx-auto px-4 bg-neutral-50 text-center"
    >
        <main>
            <div class="mb-6">404</div>
            <h1 class="text-7xl font-medium mb-8">Page Not Found</h1>
            <p class="max-w-md mb-10">
                Uh oh! The page you're looking for has gone MIA. Let's get you
                back on the right track.
            </p>
            <a class="bg-black text-white py-2 px-4 rounded-md" href="/"
                >Go Home</a
            >
        </main>
    </body>
</html>
