---
import Layout from "../layouts/Layout.astro";
---

<Layout
    metaDescription="Bill Utaegbulam is a creative developer building websites and brands in Irvine, California."
    title="madewithbill. - About Me"
>
    <section class="py-8">
        <div class="flex gap-4 items-end mb-8">
            <img
                class="size-30 object-cover aspect-square rounded-lg"
                src="/src/assets/bill-utaegbulam-profile-headshot.jpg"
                alt="Bill Utaegbulam smiling and posing for a photo."
            />
            <div>
                <h1>About Me</h1>
                <p>Bill Utaegbulam</p>
                <p class="mb-0">Developer, Designer, Creator</p>
            </div>
        </div>
        <p>
            Over the years, I’ve designed consumer products, promoted electric
            vehicles, and launched refreshed brands. The constant driver through
            it all has been a constant curiosity to build.
        </p>
        <p>
            Currently, I focus most of my time on Webflow development, with a
            growing skill set to deliver dynamic user experiences, including a
            few fun projects in the pipeline.
        </p>
    </section>
    <section class="py-8">
        <h2>Specialties</h2>
        <ul>
            <li>Webflow</li>
            <li>HTML</li>
            <li>CSS</li>
            <li>Core Web Vitals</li>
            <li>Branding</li>
        </ul>
    </section>
    <section class="py-8">
        <h2>What I'm Learning</h2>
        <ul>
            <li>Astro</li>
            <li>Javascript</li>
            <li>Tailwind CSS</li>
        </ul>
    </section>

    <section class="py-8">
        <h2 class="mb-4">Contact</h2>
        <p>
            Interested in working together? You can reach me at
            <span>bill<span class="mail-to">y</span>@</span>madewith<span
                class="mail-to">eilish</span
            >bill.com
        </p>
    </section>
</Layout>
