---
import Layout from "../layouts/Layout.astro";
import { Image } from "astro:assets";
import headshot from "/src/assets/bill-utaegbulam-profile-headshot.jpg"; // Image is 2000 × 1125
---

<Layout
    metaDescription="Bill Utaegbulam is a creative developer building websites and brands in Irvine, California."
    title="madewithbill. - About Me"
>
    <section class="py-8">
        <div class="animate-gsap flex gap-8 items-end mb-8">
            <Image
                class="w-1/2 object-cover aspect-square rounded-lg"
                height="1125"
                width="2000"
                src={headshot}
                alt="Bill Utaegbulam smiling for a photo."
            />
            <div>
                <h1>About Me</h1>
                <p class="mb-0">Bill Utaegbulam</p>
            </div>
        </div>
        <div class="animate-gsap">
            <p>
                Over the years, I’ve designed consumer products, promoted
                electric vehicles, and launched refreshed brands. The constant
                driver through it all has been a constant curiosity to build.
            </p>
            <p>
                Currently, I focus most of my time on Webflow development, with
                a growing skill set to deliver dynamic user experiences,
                including a few fun projects in the pipeline 😉.
            </p>
        </div>
    </section>
    <section class="animate-gsap py-8">
        <h2>Skills</h2>
        <ul>
            <li>Webflow</li>
            <li>HTML</li>
            <li>CSS</li>
            <li>Core Web Vitals</li>
            <li>Branding</li>
        </ul>
    </section>
    <section class="animate-gsap py-8">
        <h2>What I'm Learning</h2>
        <ul>
            <li>Astro</li>
            <li>Javascript</li>
            <li>Tailwind CSS</li>
        </ul>
    </section>

    <section class="animate-gsap py-8">
        <h2 class="mb-4">Contact</h2>
        <p>
            Interested in working together? You can reach me at
            <span>bill<span class="mail-to">y</span>@</span>madewith<span
                class="mail-to">eilish</span
            >bill.com
        </p>
    </section>
</Layout>
