---
import Welcome from "../components/Welcome.astro";
import Layout from "../layouts/Layout.astro";
import ProjectCard from "../components/ProjectCard.astro";
import "../styles/global.css";
import CJHero from "../projects/images/custem-journeys/custem-journeys-homepage-mobile-mockup.avif";
import NexHero from "../projects/images/nex/nex-jobs-website-hero-light.avif";
import DetectHero from "../projects/images/detect/detect-website-hero-light.avif";
import TrainerHero from "../projects/images/trainer-demo/trainer-demo-website-hero-light.avif";

// Welcome to Astro! Wondering what to do next? Check out the Astro documentation at https://docs.astro.build
// Don't want to use any of this? Delete everything in this file, the `assets`, `components`, and `layouts` directories, and start fresh.
---

<Layout title="madewithbill. - Creative Web Development">
  <!-- <Welcome /> -->
  <header class="py-4">
    <h1>Bill Utaegbulam</h1>
    <p class="mb-5">Creative Developer</p>
    <p>
      With a speciality in Webflow development, I offer a creative and technical
      skillset to create websites that elevate your brand's digital presence.
    </p>
  </header>
  <section class="pt-8">
    <h2>Selected Projects</h2>
    <div class="w-full md:flex md:flex-wrap gap-6">
      <!-- cuSTEM Journeys -->
      <ProjectCard
        src={CJHero}
        alt=""
        heading="CJ component test"
        description="this is an asto component"
        link="nfl.com"
      />
      <!-- Nex Jobs -->
      <ProjectCard
        src={NexHero}
        alt=""
        heading="NoExperienceJobs.io (Nex)"
        description="Branding and Web Design"
        link="google.com"
      />
      <!-- Detect.com -->
      <ProjectCard
        src={DetectHero}
        alt=""
        heading="Detect"
        description="Web Design"
        link="apple.com"
      />
      <!-- Trainer Demo -->
      <ProjectCard
        src={TrainerHero}
        alt=""
        heading="Trainer Landing Page (Demo)"
        description="Web Design"
        link="theverge.com"
      />
    </div>
  </section>
  <section class="py-8">
    <h2 class="mb-4">Contact</h2>
    <p>
      Interested in working together? You can reach me at
      <span>bill<span class="mail-to">y</span>@</span>madewith<span
        class="mail-to">eilish</span
      >bill.com
    </p>
  </section>
</Layout>
