---
import Welcome from '../components/Welcome.astro';
import Layout from '../layouts/Layout.astro';
import "../styles/global.css";


// Welcome to Astro! Wondering what to do next? Check out the Astro documentation at https://docs.astro.build
// Don't want to use any of this? Delete everything in this file, the `assets`, `components`, and `layouts` directories, and start fresh.
---

<Layout title="madewithbill. - Creative Web Development">
	<!-- <Welcome /> -->
	 <main>
      <header class="py-4">
        <h1>Bill Utaegbulam</h1>
        <p class="mb-5">Creative Developer</p>
        <p>
          With a speciality in Webflow development, I offer a creative and
          technical skillset to create websites that elevate your brand's
          digital presence.
        </p>
      </header>
      <section class="pt-8">
        <h2>Selected Projects</h2>
        <div class="w-full md:flex md:flex-wrap gap-6">
          <!-- cuSTEM Journeys -->
          <article class="relative basis-3xs mb-8">
            <img
              class="aspect-4/3 object-cover rounded-lg mb-4"
              src="/images/custem-journeys/custem-journeys-website-hero-light.avif"
              alt="Homepage hero thumbnail for the cuSTEM Journeys website"
            />
            <h3>cuSTEM Journeys</h3>
            <p class="text-neutral-500">Branding and Web Design</p>
            <a
              class="absolute size-full top-0 left-0 z-10"
              href="/projects/custem-journeys.html"
            ></a>
          </article>
          <!-- Nex Jobs -->
          <article class="relative basis-3xs mb-8">
            <img
              class="aspect-4/3 object-cover rounded-lg mb-4"
              src="/images/nex/nex-jobs-website-hero-light.avif"
              alt="Homepage hero thumbnail for the NoExperienceJobs.io website."
            />
            <h3>NoExperienceJobs.io (Nex)</h3>
            <p class="text-neutral-500">Branding and Web Design</p>
            <a
              class="absolute size-full top-0 left-0 z-10"
              href="/projects/noexperiencejobs.html"
            ></a>
          </article>
          <!-- Detect.com -->
          <article class="relative basis-3xs mb-8">
            <img
              class="aspect-4/3 object-cover rounded-lg mb-4"
              src="/images/detect/detect-website-hero-light.avif"
              alt="Homepage hero thumbnail for the Detect website."
            />
            <h3>Detect</h3>
            <p class="text-neutral-500">Web Design</p>
            <a
              class="absolute size-full top-0 left-0 z-10"
              href="/projects/detect.html"
            ></a>
          </article>
          <!-- Trainer Demo -->
          <article class="relative basis-3xs mb-8">
            <img
              class="aspect-4/3 object-cover rounded-lg mb-4"
              src="/images/trainer-demo/trainer-demo-website-hero-light.avif"
              alt="Homepage hero thumbnail for a fitness trainer landing page."
            />
            <h3>Trainer Landing Page (Demo)</h3>
            <p class="text-neutral-500">Web Design</p>
            <a
              class="absolute size-full top-0 left-0 z-10"
              href="/projects/trainer-demo.html"
            ></a>
          </article>
        </div>
      </section>
      <section class="py-8">
        <h2 class="mb-4">Contact</h2>
        <p>
          Interested in working together? You can reach me at
          <span>bill<span class="mail-to">y</span>@</span>madewith<span
            class="mail-to"
            >eilish</span
          >bill.com
        </p>
      </section>
    </main>
</Layout>
