<footer>
  <div class="border-t border-gray-500 py-4 flex items-center justify-between">
    <p class="text-sm">© 2025 madewithbill.</p>
    <ul>
      <!-- Instagram -->
      <li>
        <a
          href="https://www.instagram.com/madewithbill/"
          aria-label="Visit madewithbill on Instagram"
          target="_blank"
          rel="noopener"
        >
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="24"
            height="24"
            fill="#000000"
            viewBox="0 0 256 256"
            role="img"
          >
            <path
              d="M128,80a48,48,0,1,0,48,48A48.05,48.05,0,0,0,128,80Zm0,80a32,32,0,1,1,32-32A32,32,0,0,1,128,160ZM176,24H80A56.06,56.06,0,0,0,24,80v96a56.06,56.06,0,0,0,56,56h96a56.06,56.06,0,0,0,56-56V80A56.06,56.06,0,0,0,176,24Zm40,152a40,40,0,0,1-40,40H80a40,40,0,0,1-40-40V80A40,40,0,0,1,80,40h96a40,40,0,0,1,40,40ZM192,76a12,12,0,1,1-12-12A12,12,0,0,1,192,76Z"
            ></path>
          </svg>
        </a>
      </li>
    </ul>
  </div>
</footer>
