---
import "../styles/global.css";
import Navbar from "../components/Navbar.astro";
import Footer from "../components/Footer.astro";
const { title } = Astro.props;
const { metaDescription } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.ico" />
		<meta name="generator" content={Astro.generator} />
		<meta name="description" content={metaDescription} />
		<title>{title}</title>
		<slot name="head" />
	</head>
	<body class="max-w-xl mx-auto px-4 bg-neutral-50">
		<Navbar />
		<main>
			<slot />
		</main>
		<Footer />
	</body>
</html>
